// _mixins.scss
// ========


@mixin backImage(
	$image,
	$bgPos: center center,
	$height: 600px,
    $color1: rgba(0,0,0,0),
	$color2: rgba(0,0,0,0),
	$grDir: to bottom
){
	background: linear-gradient(
		$grDir,
		$color1,
		$color2
		), url($image);
	background-repeat: no-repeat;
	background-position: $bgPos;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: $height;
}  // backImage

@mixin clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}  // before, after
	&:after {
		clear: both;
	} // after
} // clearfix


@mixin backSize (
	$top: 80px,
	$bottom: 80px
) {
	padding-top: $top;
    padding-bottom: $bottom;
    position: relative;
    overflow: hidden;
}

@mixin textWrapper (
	$top: 80px,
	$left:80px,
	$right:0px
) {
	padding-top: $top;
	padding-left: $left;
	padding-right:$right;
}

@mixin textContainer(
	$width: 60%,
	$paddingTop:0
){
	@include container($width);
	text-align: center;
	padding-top: $paddingTop;
}

@mixin subText(){
	color: $slate-grey;
	line-height: 2rem;
	text-align: left;
	font-size: 1.5rem;
}

@mixin createLine (
	$width: 5rem,
	$color: #fff,
	$height: .1rem,
	$left: -5rem,
	$top:  -1.2rem,
	$right: 3rem
) {
	&:before{
		width: $width;
		background-color: $color;
		content: "";
		display: inline-block;
		height: $height;
		position: relative;
		vertical-align: middle;
	}

	&:before {
		top: $top;
		right: $right;
		margin-left: $left;
	}
}


@mixin h1 (
	$color: $light,
	$marginTop: 0,
	$textAlign: left,
	$fontSize: 3rem
) {
	color: $color;
	font-size: $fontSize;
	text-align: $textAlign;
	line-height: 4rem;
	margin-top: $marginTop;
	letter-spacing: .1rem;
}

@mixin p (
	$color: $light,
	$textAlign: left,
	$fontWeight: normal
){
	color: $color;
	text-align: $textAlign;
	letter-spacing: .6rem;
	text-transform: uppercase;
	font-weight: $fontWeight;
}

@mixin halfWrapper(
	$bgColor: $light,
	$height: 600px
){
	float:left;
	width: 50%;
	background: $bgColor;
	height: $height;
	@include breakpoint(max-width $medium){
		float: none;
		width: 100%;
	}
}

@mixin largeWrapper(
	$bgColor: $light,
	$height: 600px
){
	float:left;
	width: 60%;
	background: $bgColor;
	height: $height;
}

@mixin smallWrapper(
	$bgColor: $light,
	$height: 600px
){
	float:left;
	width: 40%;
	background: $bgColor;
	height: $height;
}

@mixin arbWrapper(
	$width: 50%,
	$height: 600px,
	$bgColor: $light
){
	float:left;
	width: $width;
	background: $bgColor;
	height: $height;
}