// _variables.scss
// ============================

@include border-box-sizing; // users border box sizing like the old IE

//Susy Global Settings
$susy: (
	columns: 12,
	container: 80%,
	math: fluid,
  	output: float,
	gutters: 1/4,
	gutter-position: inside
);


// Color Palette
$blue      : #595BF0;
$lightblue : #EEEEFF;
$lighterblue: #F0F5FB;
$darkgrey  : #746358;
$yellow    : #FFBC2E;
$lightgrey : #A9B3BC;
$red       : #FFEEEC;
$grey      : #B0B0B0;
$orange    : #FF6945;
$dark      : #444444;
$light     : #FFFFFF;
$teal      : #4CB9CD;
$twitter   : #55ACEE;
$facebook  : #3A5795;
$linkedin  : #1884BB;
$highlight : #F4A068;
$grey      : #9B9B9B;
$slate-grey: #5B6772;
$pink      : #FDA1BF;
$purple    : #A070E1;
$bgBlue    : #EDF4FA;


$backgroundColor : $light;
$typeDefault     : $dark;
$navBackground   : $blue;
$navForeground   : $dark;
$navHover        : $yellow;
$navBrandBg      : $light;
$headersubbg     : $dark;

//Font variables

$headfamily : 'Raleway', 'Helvetica Neue', sans-serif;
$mainfamily : 'Lato', sans-serif;

$thin : 100;
$normal : 400;
$bold : 600;
$heavy : 800;

$headFont : $thin 1rem $headfamily;
$pFont:$thin 1rem $headfamily;
$mainFont : $thin 1rem $mainfamily;
$headColor: $red;

//Breakpoint variables
$narrow: 320px;
$small: 375px;;
$potrait: 768px;
$medium: 960px;
$large: 1024px;
$wide: 1200px;