// _variables.scss
// ============================

@include border-box-sizing; // users border box sizing like the old IE

//Susy Global Settings
$susy: (
	columns: 12,
	container: 90%,
	math: fluid,
  	output: float,
	gutters: 1/4,
	gutter-position: inside
);


// Color Palette
$blue      : #336699;
$darkgrey  : #746358;
$yellow    : #FFBC2E;
$lightgrey : #F4F4F4;
$red       : #DC4332;
$grey      : #B0B0B0;
$orange    : #EEC691;
$dark      : #000000;
$light     : #FFFFFF;
$teal      : #4CB9CD;
$twitter   : #55ACEE;
$facebook  : #3A5795;
$linkedin  : #1884BB;
$highlight : #F4A068;

$backgroundColor : $light;
$typeDefault     : $dark;
$navBackground   : $blue;
$navForeground   : $light;
$navHover        : $yellow;
$navBrandBg      : $light;
$headersubbg     : $dark;

//Font variables

$headfamily : 'Orbitron', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
$mainfamily : 'Armata', sans-serif;

$thin : 200;
$normal : 400;
$bold : 600;
$heavy : 800;

$headFont : $thin 1.5em/1.5em $headfamily;
$mainFont : $thin 1em/1.5em $mainfamily;
$headColor: $red;

//Breakpoint variables
$extrasmall: 360px;
$narrow: 400px;
$iPhone: 480px;
$small: 650px;
$potrait: 768px;
$medium: 960px;
$large: 1024px;
$wide: 1200px;