#about {
  margin-top: 5rem;
  height: 600px;
  @include container(80%);
  @include breakpoint (max-width $medium) {
    height: auto;
  }
  @include breakpoint (max-width $potrait) {
    @include container(85%);
  }

  .small-wrapper{
    .text-container-left{
      h1 {
        color: $slate-grey;
        font-size: 3rem;
        text-align: left;
        line-height: 4rem;
        font-weight: 900;
        letter-spacing: .1rem;
      } // h1

      p {
        color: $slate-grey;
        line-height: 4rem;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: .6rem;
      } // p
    } // text-container-left
  }

  .large-wrapper {

    .text-container-right {
      margin-left: 2rem;
    } // text-container-right
  } // text-wrapper

  
  @include breakpoint(max-width $medium){
    .small-wrapper{
      .text-container-left{
        h1 {
          font-size: 2.4rem;
        }
      }
    }
    .large-wrapper {
      .text-container-right {
        margin-left:0;
        padding-bottom: 4rem;
      }
    }
  }// .breakpoint 960px
  @include breakpoint(max-width $potrait){
    .small-wrapper{
      .text-container-left{
        h1 {
          font-size: 2rem;
          line-height:3rem;
        }
      }
    }
          
  }// .breakpoint 768px
  @include breakpoint(max-width $small){
    .small-wrapper{
      .text-container-left{
        h1 {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
        p {
          font-size: .75rem;
          letter-spacing:.4rem;
        }
      }
    }
  }// .breakpoint 375px

}//#about

#design{
  .half-wrapper-color{
    @include halfWrapper($blue);
    .text-container-left{
      @include textContainer(80%, 3rem);
      img{
        width: 400px;
      } //img
    } //text-container-left
  } // half-wrapper-color

  .half-wrapper{
    padding-right: 2rem;
    .text-container-right{
      @include textWrapper(8rem, 5rem);
      h1 {
        @include h1($blue, 0.5rem);
      } // h1

      .subtitle {
        color: $blue;
      }
    } //text-container-right
  } // half-wrapper
  @include breakpoint(max-width $medium){
    .half-wrapper{
      height: auto;
      margin-bottom: 6rem;
      padding-right: 0;
      .text-container-right{
        margin:0 auto;
        padding: 8rem 0 0 0;
        h1 {
          font-size: 2.4rem;
        }
      }
    }
    .half-wrapper-color {
      height: auto;
      margin-top: 3rem;
      .text-container-left {
        padding-top: 0;
      }
    }
  }// .breakpoint 960px
  @include breakpoint(max-width $potrait){
    .half-wrapper{
      .text-container-right{
        h1 {
          font-size: 2rem;
          line-height:3rem;
        }
      }
    }        
  }// .breakpoint 768px
  @include breakpoint(max-width $small){
    .half-wrapper{
      margin-bottom: 3rem;
      .text-container-right{
        padding: 5rem 0 0 0;
        h1 {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }

      }
    }
    .half-wrapper-color {
      margin-top: 3rem;
      .text-container-left {
        img {
          width: 200px;
        }
      }
    }
  }// .breakpoint 375px
} //#design


#interaction{
  .half-wrapper{
    padding-right: 2rem;
    .text-container-left{
      @include textWrapper(8rem, 5rem);
      h1 {
        @include h1($pink, 0.5rem);
      } // h1

     .subtitle {
        color: $pink;
      }
    } //text-container-left
  } // half-wrapper

  .half-wrapper-color{
    @include halfWrapper($pink);
    .text-container-right{
      @include textContainer(80%, 3rem);
      img{
        width: 400px;
      } //img
    } //text-container-right
  } // half-wrapper-color
  @include breakpoint(max-width $medium){
    .half-wrapper{
      height: auto;
      margin-bottom: 6rem;
      padding-right: 0;
      .text-container-left{
        margin:0 auto;
        padding: 8rem 0 0 0;
        h1 {
          font-size: 2.4rem;
        }
      }
    }
    .half-wrapper-color {
      height: auto;
      margin-top: 3rem;
      .text-container-right {
        padding-top: 0;
      }
    }
  }// .breakpoint 960px
  @include breakpoint(max-width $potrait){
    .half-wrapper{
      .text-container-left{
        h1 {
          font-size: 2rem;
          line-height:3rem;
        }
      }

    }
          
  }// .breakpoint 768px
  @include breakpoint(max-width $small){
    .half-wrapper{
      margin-bottom: 3rem;
      .text-container-left{
        padding-top: 5rem;
        h1 {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
    .half-wrapper-color {
      margin-top: 3rem;
      .text-container-right {
        img {
          width: 200px;
        }
      }
    }
  }// .breakpoint 375px
} //#design



#arrow{
  .half-wrapper-color{
    @include halfWrapper($purple);
    .text-container-left{
      @include textContainer(80%, 3rem);
      img{
        width: 400px;
      } //img
    } //text-container-left
  } // half-wrapper-color

  .half-wrapper{
    padding-right: 2rem;
    .text-container-right{
      @include textWrapper(8rem, 5rem);
      h1 {
        @include h1($purple, 0.5rem);
      } // h1

      .subtitle {
        color: $purple;
      }
    } //text-container-right
  } // half-wrapper
  @include breakpoint(max-width $medium){
    .half-wrapper{
      height: auto;
      margin-bottom: 6rem;
      padding-right: 0;
      .text-container-right{
        margin:0 auto;
        padding: 8rem 0 0 0;
        h1 {
          font-size: 2.4rem;
        }
      
      }
    }
    .half-wrapper-color {
      height: auto;
      margin-top: 3rem;
      .text-container-left {
        padding-top: 0;
      }
    }
  }// .breakpoint 960px
  @include breakpoint(max-width $potrait){
    .half-wrapper{
      .text-container-right{
        h1 {
          font-size: 2rem;
          line-height:3rem;
        }
      }
    }        
  }// .breakpoint 768px
  @include breakpoint(max-width $small){
    .half-wrapper{
      margin-bottom: 6rem;
      .text-container-right{
        padding: 5rem 0 0 0;
        h1 {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
    .half-wrapper-color {
      margin-top: 3rem;
      .text-container-left {
        img {
          width: 200px;
        }
      }
    }
  }// .breakpoint 375px
} //#arrow

#phone{
  background: $lightblue;
  .half-wrapper-color{
    @include halfWrapper($lightblue, 350px);
    .text-container-left{
      @include textContainer(80%, 3rem);
      img{
        width: 400px;
      } //img
    } //text-container-left
  } // half-wrapper-color

  .half-wrapper-color{
    @include halfWrapper($lightblue, 350px);
    .text-container-right{
      @include textWrapper(9rem, 2rem);

      p {
        @include p($purple);
        padding-bottom: 1rem;
      } //p
    } //text-container-right
  } // half-wrapper-color
  @include breakpoint(max-width $medium){
    .half-wrapper-color{
      @include halfWrapper($lightblue, auto);
      .text-container-left {
        padding-top: 0;
        img {
          width: 200px;
        }  
      }
      .text-container-right {
        padding: 0 0 3rem 0;
        width:60%;
        margin: 0 auto;
        .input-class {
          width: 100%;
        }
    }
      }
    
  }// .breakpoint 960px
  @include breakpoint(max-width $small){
    .half-wrapper-color {

      .text-container-right{
        p {
          font-size: .75rem;
          letter-spacing:.4rem;
        }
      }
    }
  }// .breakpoint 375px
} //#phone


#interaction {
  @include breakpoint(max-width $medium){
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* optional */
      -webkit-box-align: start;
      -moz-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      .half-wrapper {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
      .half-wrapper-color {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
         order: 1;
      }
  }
}















