#intro {

	.promo {
		@include container(80%);
		.large-wrapper {
			@include largeWrapper($light, 500px);

			@include breakpoint(max-width $medium){
					width: 100%;
				}
		}
		.small-wrapper {
			@include smallWrapper($light, 500px);
			@include breakpoint(max-width $medium){
					display: none;
				}
		}

		.text-container-right{
			@include textWrapper(6rem, 0);
		}

		.text-container-left{
			@include textWrapper(6rem, 0);
			h1 {
				color: $slate-grey;
				font-size: 3rem;
				text-align: left;
				line-height: 4rem;
				letter-spacing: .1rem;
				@include breakpoint(max-width $large){
						font-size: 2.4rem;
				}
				@include breakpoint(max-width $small){
						font-size: 1.6rem;
						line-height: 2.4rem;
				}
			} // h1

			p {
				color: $slate-grey;
				line-height: 4rem;
				text-align: left;
				font-size: 3rem;
				font-weight: bold;
				padding-top:3rem;
				span {
					text-decoration-line: underline;
					text-decoration-style: dashed;
				}
				@include breakpoint(max-width $large){
						font-size: 2.4rem;
				}
				@include breakpoint(max-width $small){
						font-size: 1.6rem;
						line-height: 2.4rem;
				}
			} // p
		} // text-wrapper

		

	}//.promo

}//#intro


#voco {
	@include backImage('../images/voco_banner_mockup@2x.png', calc(20% - 0px) center);
	@include backSize(0px);
	background-color: #6A5BEF;
	@include breakpoint(max-width $potrait){
		height: 500px;
		background-position: 100% 200px;
	}
	
	.text-wrapper{
		@include textWrapper(15rem, 14rem);
		h1 {
			@include h1($light, 0.5rem);
			@include createLine();
		} // h1

		p {
			@include p();
			&.see-case {
				margin-top: 5rem;
			}
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
		    
	} // .text-wrapper

} //#voco


#pch {
	@include backImage('../images/pch_banner_mockup@2x.png', bottom center);
	@include backSize(0px);
	@include breakpoint(max-width $small){
		height: 500px;
		@include backImage('../images/pch_banner_mockup_mobile@2x.jpg', center center);
	}

	.text-wrapper{
		width: 54%;
		margin: 0 auto;
		padding-top: 5rem;
		h1 {
			@include h1($light, 0.5rem);
			@include createLine();
		} // h1

		p {
			@include p();
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#pch


#color-theory {
	@include backImage('../images/color_theory_banner_mockup@2x.png', calc(20% - 0px) center);
	@include backSize(0px);
	@include breakpoint(max-width $small){
		height: 500px;
		@include backImage('../images/color_theory_banner_mockup_mobile@2x.jpg', center center)
	}

	.text-wrapper{
		@include textWrapper(12.5rem, 14rem);
		h1 {
			@include h1($slate-grey, 0.5rem);

			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#color-theory

#less-than-one {
	@include backImage('../images/lessthanone_banner_mockup@2x.png', calc(70% - 0px) center);
	@include backSize(0px);
	background-color: #161743;
	@include breakpoint(max-width $small){
		height: 500px;
		@include backImage('../images/lessthanone_banner_mockup_mobile@2x.jpg', center center);
	}

	.text-wrapper{
		float:right;
		@include textWrapper(15rem, 0, 3rem);
		h1 {
			@include h1($light, 0.5rem);
			@include createLine();
		} // h1

		p {
			@include p();
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#less-than-one


#petopia {
	@include backImage('../images/petopia_banner_mockup.png', calc(20% - 0px) center);
	@include backSize(0px);
	@include breakpoint(max-width $small){
		height: 500px;
		@include backImage('../images/petopia_banner_mockup_mobile.jpg', center center);
	}
	.text-wrapper{
		@include textWrapper(14.5rem, 14rem);
		h1 {
			@include h1($orange, 0.7rem);
			@include createLine($orange);
		} // h1

		p {
			@include p($orange);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#petopia

#pillow {
	@include backImage('../images/pillow_website_banner_mockup@2x.png', calc(70% - 0px) center);
	@include backSize(0px);
	@include breakpoint(max-width $small){
		height: 500px;
		@include backImage('../images/pillow_website_banner_mockup_mobile@2x.jpg', center center);
	}

	.text-wrapper{
		float:right;
		@include textWrapper(15rem, 0, 10rem);
		h1 {
			@include h1($slate-grey, 0.5rem);
			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#pillow


#crazy-ramen {
	@include backImage('../images/crazyramen_banner_mockup@2x.png');
	@include backSize(0px);

	.text-wrapper{
		@include textWrapper(14.5rem, 9rem);
		h1 {
			@include h1($slate-grey, 0.5rem);
			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#crazy-ramen


#short-term-rental {
	@include backImage('../images/pillow_dashboard_banner_mockup.png');
	@include backSize(0px);

	.text-wrapper{
		float:right;
		@include textWrapper(15rem, 0);
		h1 {
			@include h1($slate-grey, 0.5rem);
			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#short-term-rental

#volunteer-match {
	@include backImage('../images/volunteermatch_banner_mockup@2x.png');
	@include backSize(0px);

	.text-wrapper{
		@include textWrapper(14.5rem, 12rem);
		h1 {
			@include h1($slate-grey, 0.5rem);
			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#volunteer-match

#kidzjet {
	@include backImage('../images/kidzjet_banner_mockup@2x.png');
	@include backSize(0px);

	.text-wrapper{
		float:right;
		@include textWrapper(15rem, 0, 9rem);
		h1 {
			@include h1($slate-grey, 0.5rem);
			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#kidzjet


#promotion {
	@include backImage('../images/pillow_marketing_right_mockup.png');
	@include backSize(0px);

	.text-wrapper{
		@include textWrapper(14.5rem, 12rem);
		h1 {
			@include h1($slate-grey, 0.5rem);
			@include createLine($slate-grey);
		} // h1

		p {
			@include p($slate-grey);
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#promotion

#post-rock-music {
	@include backImage('../images/postrock_banner_mockup@2x.png');
	@include backSize(0px);

	.text-wrapper{
		float:right;
		@include textWrapper(15rem, 0);
		h1 {
			@include h1($light, 0.5rem);
			@include createLine($light);
		} // h1

		p {
			@include p();
		} //p
		@include breakpoint(max-width $medium){
			@include textWrapper(15rem, 8rem);
			h1 {
				font-size: 2.4rem;
				&:before{
				width: 3rem;
				right: 2rem;
				margin-left: -3rem;
				}
			}
			p {
				font-size: .75rem;
				&.see-case {
					margin-top: 2rem;
				}
			}
		}// .breakpoint 960px
		@include breakpoint(max-width $potrait){
			@include textWrapper(5rem, calc(50% - 3rem));
		}// .breakpoint 768px
	} // .text-wrapper

} //#post-rock-music



