#intro {
	@include backImage('../images/seattleskyline.jpg');
	// @include display-flex();
	// @include align-items(center);
	// @include justify-content(center);
	@include backSize(0px);

	.promo {
		@include container(80%);

		h1 {
			color: $light;
			font-size: 3em;
			font-weight: $normal;
			line-height: 0.8em;
			@include text-shadow($dark, 0 0 20px);
			text-align: center;
			padding-top: 2em;
			line-height: 1.1em;
		} // h1

		p {
			color: rgba($light, 0.6);
			padding-top: 1.8em;
			line-height: 0.8em;
			text-align: center;
			font-size: 1.5em;
		} //p

		.button_group {
			text-align: center;
			padding-top: 2em;

			a {
				text-decoration: none;
				color: $light;
				padding-left: 30px;
				padding-right: 30px;

				&.button_extra {
					padding-left:60px;
					padding-right:60px;
				} //a.button_extra

				@include breakpoint(max-width $small) {
					@include span(1 of 1);
					margin-bottom: 1em;
				} //breakpoint
			} //a
		}//.button_group

		@include breakpoint(max-width $small) {
			h1 {
				font-size: 2em;
				line-height: 1.3em;
			} //h1

			p {
				font-size: 1em;
				line-height: 1.2em;
			} //p

		}// breakpoint_$small

		@include breakpoint(max-width $narrow) {
			h1 {
				font-size: 1.5em;
				line-height: 1.3em;
			} //h1

			p {
				font-size: 0.8em;
				line-height: 1.2em;
			} //p

		}// breakpoint_$small

	}//.promo

	.icon_container {
		@include container(80%);
		padding-top: 4em;

		.icon {
			@include span(3);
			text-align: center;
			img {
				max-width: 100%;
			}
		} //icon

		@include breakpoint(max-width $medium){
			display: none;
		} // breakpoint_$medium

	} //.icon_container

}//#intro


#product {
	.service {
		@include container(80%);
		padding: 3em 0;

		.service_icon {
			@include span(3);
			text-align: center;
			img {
				max-width: 100%;
			} //img

			p {
				padding: 0 20px;
			}

			@include breakpoint($potrait $large) {
				@include span(6);
				padding-top: 2em;
			} // breakpoint_$potrait_to_$large

			@include breakpoint(max-width $potrait) {
				@include span(12);
				padding-top: 3.5em;

				&:first-child {
					padding-top: 1.5em;
				}
			} // breakpoint_$potrait

		} //.service_icon
	} //.service

	.heart_divider {
		@include container(80%);
		text-align: center;

		img {
			max-width: 100%;
		} //img
	} // heart-divider

	.caster {
		@include container(80%);
		padding-top:3em;
		padding-bottom: 3em;

		.caster_show {
			@include span(9);
			padding: 0 2em;

			img {
				max-width: 100%;

			} //img

			@include breakpoint(max-width $medium){
				@include span(12);

			} //breakpoint_$medium

		} //.caster_show

		aside {
			@include span(3 at 9 of 12);
			.caster_title {
				@include container(100%);
				margin-top: 5em;
				margin-bottom: 3em;

				span {
					font-size: 2.5em;
					font-family: $headfamily;
					color: $teal;

					img {
						width: 50px;
						vertical-align: text-bottom;
						// max-width: 100%;
					} //img
				
				} //span
			} //.caster_title

			@include breakpoint(max-width $medium){
				@include span(12);

				.caster_title {
					margin-top: 2em;
				}
			} //breakpoint_$medium

		} //aside

		@include breakpoint(max-width $wide){
			@include container(94%);
		}// breakpoint_$wide

		@include breakpoint($medium $large){
			@include container(97%);
		}// breakpoint_$medium_to_$large

		@include breakpoint(max-width $medium){
			@include container(80%);
		}// breakpoint_$medium

	} //.caster
} //# product


#features {
	@include backImage('../images/feature-bg.png');
	@include backSize;
	
	.top_section {
		@include container(70%);

		h1 {
			color: $light;
			font-size: 2em;
			font-family: $mainfamily;
			line-height: 1.2em;
			@include text-shadow($dark, 0 0 20px);
			text-align: center;
			// padding-top: 2em;
			padding-bottom: 2em;

			@include breakpoint(max-width $small){
				font-size: 1.6em;
			}
		} // h1
	} //.top_section
	
	.features_list {
		@include container;
		@include clearfix;


		.feature {
			@include span(2);

			a {
				text-decoration: none;

				.feature_con {
					@include border-radius(20px); 
					background-color: rgba($orange, 0.8);
				    width: 134px;
				    height: 134px;
				    padding: 20px;
				    margin: 20px;
				    margin-left: auto;
				    margin-left: auto;

				    &:hover {
						background-color: $highlight;
					}

				    i {
						color: #fff;
					    text-align: center;
					    display: block;
					    margin-bottom: 8px;
					    font-size: 1.8em;
					    margin-top: 12px;
				    } //i

				    p {
				    	color: $light;
	    				text-align: center;
	    				font-size: 1em;
	    				text-decoration: none;
	    				line-height: 1em;
				    } //p
				} //.feature_con
			} //a	

			@include breakpoint($potrait $large) {
				@include span(3);
			} //breakpoint_$potrait_to_$large

			@include breakpoint(max-width $potrait) {
				@include span(4);
			} //breakpoint_$potrait

			@include breakpoint(max-width 560px) {
				@include span(6);
			} //breakpoint_560px

		} //.feature

		@include breakpoint(max-width $small) {
			@include container(80%);
		} //breakpoint_$small

		@include breakpoint(max-width $iPhone) {
			@include container(90%);
		} //breakpoint_$extra

	} //.feature_list

	.bottom_section {
		a {
			text-decoration: none;
			// color: $light;

			h4 {
				color: $light;
			    text-align: center;
			    margin-top: 3em;
			    font-size: 1.3em;
			    font-family: $mainfamily;
			} //h4
		} //a

		@include breakpoint(max-width $iPhone) {
			font-size: 0.8em;
		} //breakpoint_$iPhone
	}//.bottom_section

} //#features


#partners {

	.clients {
		@include container(40%);

		h1 {
			color: $dark;
			font-size: 1.6em;
			font-family: $mainfamily;
			line-height: 1.3em;
			text-align: center;
			padding-top: 3em;
			padding-bottom: 3em;
		} // h1
		
		@include breakpoint(max-width $iPhone) {
			font-size: 0.7em;
		} //breakpoint_$iPhone

	} //.clients

	.client_group {
		@include container(70%);
		padding-bottom: 5em;

		.client {
			@include span(4);
			text-align: center;
			
			img {
				max-width: 100%;

				&.img_pad {
					padding-top: 2em;
				} //.img_extra
			} //img
		} //.client
	} //.client_group

} //#partners

#academy {
	@include backImage('../images/acedamy-bg.png');
	@include backSize(0px);
	

	.title_section {
		@include container(80%);

		h1 {
			color: $grey;
			font-size: 2.6em;
			line-height: 1.4em;
			font-family: $headfamily;
			@include text-shadow($dark, 0 0 20px);
			text-align: center;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			font-weight: $normal;
			//display: inline-block;

			img {
				vertical-align: text-bottom;
			}

			@include breakpoint(max-width $small) {
				font-size: 1.7em;

				img {
					width: 190px;
				}
			} //breakpoint_$small

		} // h1

		@include breakpoint(max-width $small) {
			@include container(90%);
		} //breakpoint_$small

	} //.title_section

	.intro{
		@include container(60%);
		padding: 3em 0 6em 0;
		background-color: rgba($light, 0.1);

		p {
			font-size: 1.2em;
			color: $light;
			text-align: left;
			margin-bottom: 4em;
			padding: 0 3em;
			font-weight: $normal;
		} //p

		h6 {
			color: $grey;
			text-align: center;
			font-family: $mainfamily;
			font-size: 1.2em;
		} //h6

		@include breakpoint(max-width $small) {
			@include container(80%);

			p {
				font-size: 0.9em;
			}

			h6 {
				font-size: 1em;
			}
		} //breakpoint_$small

	} //.intro

} //#academy




// @media screen and (max-width: 900px){
// .menu-btn div {
// 	position: absolute;
// 	left: 100%;
// 	top: 64%;
// 	padding-right: 8px;
// 	margin-top: -0.50em;
// 	line-height: 1.2;
// 	font-size: 18px;
// 	font-weight: 200;
// 	vertical-align: middle;
// 	z-index: 99;
// }
 
// .menu-btn span {
// 	display: block;
// 	width: 30px;
// 	height: 4px;
// 	margin: 5px 0;
// 	background: $light;
// 	z-index: 100;
// }
 
// .responsive-menu{
// 	display: none;
// }
 
// .expand {
// 	display: block !important;
// 	position: absolute; 
// 	top: 15%; 
// 	width: 100%; 
// 	left: 0; 
// }

// }

