


#voco-design-7, #voco-design-6, #promotion-1 {
  img{
    width:auto;
    &.scroll-img{
      height:600px;
      padding-bottom:0;
      @include breakpoint (max-width $potrait){
      	height: 400px;
      }
    }
  }
}

.scroll-wrapper{
  overflow-x: hidden ;
   &.mobile {
    overflow-x: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}


/* Fill Slide */
/*--------------------*/


.slide-navigation {
  	background-color: $light;
    padding: 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include breakpoint (max-width $small){
      padding:2rem;
    }
}

.nav-fillslide {
  .icon-wrap {
    position: relative;
    z-index: 100;
    display: block;
    padding: 4rem 1rem;
    background: $blue;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 110%;
      background: #fff;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s;
    }
  }
  a {
  	position: absolute;
    top: 50%;
    display: block;
    outline: none;
    text-align: left;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &.prev {
    	left: 0;
    	.icon-wrap::before {
	      -webkit-transform: translateX(-100%);
	      transform: translateX(-100%);
	    }
	}
	&.next {
	    right: 0;
	    .icon-wrap::before {
	      -webkit-transform: translateX(100%);
	      transform: translateX(100%);
	    }
	}
}
  .icon {
    fill: $lightblue;
    position: relative;
    z-index: 100;

  }
  div {
    position: absolute;
    top: 0;
    width: 24rem;
    height: 9rem;
    background: $light;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  a {
    &.prev div {
      left: 0;
      padding: 1.5rem 8.5rem 1rem 4rem;
      text-align: right !important;
      border-radius: 0 6px 6px 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      p {
      	text-align: right !important;
      	line-height: 2rem;
      }
    }
    &.next div {
      right: 0;
      padding: 1.5rem 4rem 1rem 8.5rem;
      border-radius: 6px 0 0 6px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      p {
      	line-height: 2rem;
      }
    }
  }
  img {
  	width: auto !important;
    position: absolute;
    top: 1.2rem;
    border: .2rem solid $lightblue;
  }
  a {
    &.prev img {
      right: 1rem;
    }
    &.next img {
      left: 1rem;
    }
    &:hover {
      .icon-wrap::before {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        .icon {
    		fill: $blue;
    	}
      }
      div {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}

