#footer {
	background: $lightblue;
	height:180px;
	.icons {
		@include container(36%);
		padding: 3rem 0;
		a{
			display: inline-block;
			float:left;
			width:25%;
			text-align:center;
			img {
				width:32px;
			} //img
		} // a
	} //icons
	p {
		font-family: $headfamily;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.4px;
		text-align: center;
		color: $blue;
	} //p
} // #footer