.card-shadow, #dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(91, 103, 114, 0.3), 0 0.1em 0.2em rgba(91, 103, 114, 0.3);
}

#input {
  border: 0;
  background: transparent;
  border-bottom: 2px dashed $slate-grey;
  outline: 0;
  display: block;
  text-align: left;
  width: 16rem;
  cursor: pointer;
  color: $slate-grey;
  text-decoration: none;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .1rem;
  @include breakpoint(max-width $large){
    font-size: 2.4rem;
    width:14rem;
  }
  @include breakpoint(max-width $potrait){
    font-size: 2rem;
    line-height:3rem;
    width:12rem;
  }// .breakpoint 768px
  @include breakpoint(max-width $small){
      font-size: 1.6rem;
      line-height: 2.4rem;
      width:10rem;
  }

  &.open{
    opacity: 0;
  }
}

.button-group {
  position: absolute;
  width: 215px;
  margin: 0 auto;
  margin-bottom: 2em;
  display:inline-block;
  .marka {
    position: absolute;
    right: -3.5rem;
    top: 2rem;
    z-index: 10;
    cursor: pointer;
    i {
      background: grey!important;
    }
    @include breakpoint (max-width $medium){
      right: -2rem;
      top: 2rem;
    }
    @include breakpoint (max-width $potrait){
      right: 0;
      top: 1.5rem;
    }
    @include breakpoint (max-width $small){
      right: 3rem;
      top: 1rem;
    }
  }
}

#dropdown-menu {
  position: absolute;
  top: 0rem;
  left: 0;
  margin: 0 auto;
  padding: 1rem 2.5rem 1rem;
  width: 18rem;
  list-style: none;
  text-align: left;
  border-radius: .6rem;
  background: #ffffff;
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  z-index: 2;

  li {
    position: relative;
    line-height: 3rem;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 0;
    cursor: pointer;
    a {
      color: $slate-grey;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }

  &.open{
    -webkit-transform: scale(1);
    transform: scale(1);
    li {
      transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
      &:nth-child(1) {
        transition-delay: 0.07s !important;
      }
      &:nth-child(2) {
        transition-delay: 0.14s !important;
      }
      &:nth-child(3) {
        transition-delay: 0.21s !important;
      }
      &:nth-child(4) {
        transition-delay: 0.28s !important;
      }
      &:nth-child(5) {
        transition-delay: 0.35s !important;
      }
    }
  }
  @include breakpoint (max-width $medium){
    width: 16rem;
  }
  @include breakpoint (max-width $potrait){
    width: 14rem;
  }
  @include breakpoint (max-width $small){
    padding: 1rem 1.5rem;
    width: 12rem;
    li {
      line-height: 2.2rem;
      a {
        font-size: 1.2rem;
      }
    }
  }
}