// _gloabl.scss
// ==============
body {
  font: $mainFont;
  color: $typeDefault;
  //max-width:1500px;
  //margin: 0 auto;
}

#{headings()} {
  font: $headFont;
  color: $headColor;
  font-weight: $bold;
}

strong {
  font-weight: $bold;
}

p {
  font-weight: $thin;
  font: $pFont;
}

img {
  width: 100%;
}

.container{
  @include container;
}

.clearfix{
  @include clearfix;
}

.half-wrapper{
  @include halfWrapper();
}

.large-wrapper{
  @include largeWrapper();
}

.small-wrapper{
  @include smallWrapper();
}

.quad{
  float:left;
  width:25%;
  text-align: left;
}

.btn-class{
  border-radius: 1.75rem;
  background-color: #595bf0;
  width: 20rem;
  height: 3.5rem;
  border: none;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
  letter-spacing: .2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.sub-text{
  color: $slate-grey;
  line-height: 2rem;
  text-align: left;
  font-size: 24px;
}

.input-class{
  width: 480px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 18px;
  text-align: left;
  color: $slate-grey;
  border:none;
  padding-left:2rem;
}

.full-img {
  width: 100%;
}